:root{
    --color-primaire: white;
    --color-secondaire: black;
}

body{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container{
    text-align: center;
}